.cHidden
{
 visibility: hidden;
}
 
.cVisible1
{
 visibility: visible;
 font-size : 200%; 
 color: #DAEDFC;
}

body {
    font-family: "arial";
 font-size : 200%; 
}

#fr0 {
    font-family: "arial";
 font-size : 100%; 
  color: #E0ED21;
  border: 0px solid #E00D21;
  padding: 5px;
}
#frYellow {
    font-family: "arial";
 font-size : 150%; 
  color: #E0ED21;
  border-radius: 8px;
  border: 2px solid #E0ED21;
  padding: 10px;
  overflow: hidden;
}

#frRed {
    font-family: "arial";
 font-size : 80%; 
  color: #E0ED21;
  border-radius: 8px;
  border: 2px solid #E02D21;
  padding: 10px;
}

#subFrame {
  font-family: "arial";
  font-size : 80%; 
  color: #E00D21;
  border: 0px solid #E00D21;
  text-align: left;
  padding: 5px;
}

.button {
  opacity: 0.8;
  transition-duration: 0.4s;
  color: white;
  height : 200px;
  width : 95%;
  font-size : 120%; 
}

.button:hover {
  opacity: 1.0;
  color: white;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonGreen{
  border-radius: 8px;
  border: 0px;
  background-color: #20ED21;
}

.buttonRed{
  border-radius: 8px;
  border: 0px;
  background-color: #E02D31;
}

.buttonGray{
  border-radius: 8px;
  border: 0px;
  background-color: #808D81;
}

.trackInactive{
  border-radius: 8px;
  border: 0px;
  background-color: #808D81;
  height : 90%;
  width : 95%;
  font-size : 100%; 
}

.trackActive{
  border-radius: 8px;
  border: 0px;
  background-color: #30ED21;
  height : 95%;
  width : 95%;
  font-size : 110%; 
  align: center;
}

.projectLoaded{
  border-radius: 8px;
  border: 0px;
  background-color: #382;
  height : 95%;
  width : 95%;
  font-size : 110%; 
  align: center;
  pointer-events:none;
}


.projectEmpty{
  opacity: 0.0;
  border-radius: 8px;
  border: 0px;
  background-color: #382;
  height : 95%;
  width : 95%;
  font-size : 110%; 
  align: center;
  pointer-events:none;
}

.projectReady{
  border-radius: 8px;
  border: 0px;
  background-color: #328;
  height : 95%;
  width : 95%;
  font-size : 110%; 
  align: center;
  pointer-events: yes;
}

.subFrame{
  font-family: "arial";
  font-size : 130%; 
  color: #E0D0F0;
  border: 0px solid ;
  text-align: left;
  padding: 5px;
}

#timecode{
  opacity: 1.0;
  font-family: "arial";
  font-size : 200%; 
  color: #5060F0;
  border: 0px;
  background-color: #1fe0;
  width : 50%;
  text-align: right;
}

#lPlayStatus{
  opacity: 1.0;
  font-family: "arial";
  font-size : 160%; 
  color: #E0D0F0;
  border: 0px;
  background-color: #1fe0;
  width : 50%;
  text-align: left;
}

#projectName{
  opacity: 1.0;
  font-family: "arial";
  font-size : 120%; 
  color: #E0D0F0;
  border: 0px;
  background-color: #1fe0;
  width : 50%;
  text-align: left;
}

#lTrack{
  opacity: 1.0;
  font-family: "arial";
  font-size : 120%; 
  color: #E0D0F0;
  border: 0px;
  background-color: #1fe0;
  width : 50%;
  text-align: left;
}
.projectSel {
  transition-duration: 0.4s;
  color: white;
  height : 100px;
  width : 95%;
  font-size : 60%; 
  background-color: #1fe0;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


/* Style the buttons that are used to open the tab content */
.tab button {
 font-size : 200%; 
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 0.5s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}